#googlecart-widget {
  display:none !important
}
.outside_top {
  position:relative;
  list-style:none !important;
  cursor:move
}
.pro-element-overlay {
  position:absolute;
  top:41px;
  right:12px
}
.theme-color-count {
  position:absolute;
  z-index:2;
  right:7px;
  bottom:6px;
  width:19px;
  height:20px;
  line-height:20px;
  text-align:center;
  font-size:10px;
  font-weight:normal;
  color:#fff;
  background:url(/images/old/theme_color_number.png) no-repeat
}
.publishingLetters {
  position:absolute;
  font-size:40px;
  font-weight:bold;
  top:150px;
  left:20%
}
#chooseDomainDiv .domainRelative {
  position:relative
}
.tab {
  position:relative;
  top:14px;
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  border-bottom:1px solid #ccc;
  background:#E9E9E9;
  float:left;
  margin:0 2px;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color:#011070;
  height:21px
}
.tabTitle {
  padding:3px 20px
}
.theme-editor-body {
  height:100%;
  border-left-style:solid;
  border-left-width:26px;
  border-left-color:#EEEEEE
}
.savedThemeName {
  cursor:pointer
}
.custom-theme-blue-box {
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background:#e6f1fa;
  border:1px solid #a7c5db;
  font-family:"Lucida Grande", "Lucida Sans", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif
}
#custom-theme-upload-box {
  width:550px
}
#theme-files {
  width:225px;
  height:121px;
  margin-bottom:17px;
  background:#FFFFFF;
  border:1px solid #a1a2a1;
  overflow-y:scroll
}
.theme-file {
  width:201px;
  height:17px
}
#theme-upload-queue {
  width:250px;
  height:121px;
  background:#d7e4f0;
  border:1px solid #a7c5db;
  overflow-y:scroll
}
.theme-queue-item {
  font-size:11px;
  color:#666666;
  margin-top:5px;
  margin-left:15px
}
.theme-progress-outer {
  width:200px;
  height:13px;
  border:1px solid #a5a3a3;
  background:#FFFFFF;
  margin-top:4px
}
.theme-progress-inner {
  width:0px;
  height:13px;
  background:#70a1dd
}
.clickable {
  cursor:pointer
}
#theme-save-name-box {
  position:absolute;
  width:350px;
  height:37px;
  top:45px;
  background:#EAEAEA;
  font-family:"Lucida Grande", "Lucida Sans", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
  font-size:13px;
  font-weight:bold;
  border:1px solid #CDCDCD;
  padding:0 0 7px 5px
}
.theme-button {
  margin-top:6px;
  margin-right:7px
}
.custom-theme-picture {
  padding-top:58px;
  font-size:11px;
  color:#FFFFFF
}
#themeEditBoxHelp h2 {
  font-size:18px
}
#themeEditBoxHelp h3 {
  font-size:14px;
  margin-bottom:5px
}
#themeEditBoxHelp p {
  font-size:12px;
  margin:2px
}
#buttons {
  padding:0 0 10px 0
}
#pagesFrame {
  width:750px;
  margin:0 auto;
  font-family:Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
  font-size:0.75em;
  line-height:1.6em;
  color:#666;
  background-color:#FFF
}
#pagesFrame input {
  background-color:#FFF;
  border:1px solid #CCC;
  padding:3px
}
#pagesFrame .button {
  padding:2px
}
#pagesFrameHeader {
  padding-top:10px;
  padding-bottom:10px;
  clear:both
}
#pageListArea {
  float:left;
  padding:9px 0 9px 14px
}
#pageListArea a {
  display:block;
  padding:5px;
  width:175px;
  border-bottom:1px solid #CCC
}
#pageListArea li:link,
#navlist a:visited {
  color:#509BE8;
  text-decoration:none
}
#pagelist-top {
  background:transparent url(/images/old/pagelistbox_top_wider.gif) no-repeat;
  width:254px;
  height:5px;
  overflow:hidden
}
#pagelist-bottom {
  background:transparent url(/images/old/pagelistbox_btm_wider.gif) no-repeat;
  width:254px;
  height:5px;
  overflow:hidden
}
#pagelist-middle {
  background:transparent url(/images/old/pagelist_background_wider.gif) repeat-y;
  width:254px;
  padding-bottom:7px
}
#instructions {
  color:#333;
  font-weight:bold;
  padding:7px 0 9px 14px
}
#pages-wrap {
  width:225px;
  height:330px;
  overflow-x:hidden;
  overflow-y:auto;
  position:relative;
  margin-left:14px
}
#pages {
  font-size:1em;
  font-weight:bold;
  list-style-type:none;
  margin:0;
  padding:0;
  line-height:normal;
  position:relative
}
#pages,
#pages ul {
  list-style:none
}
#pages li {
  position:relative;
  margin:0;
  padding:0;
  line-height:0;
  width:100%
}
#pages li .tick {
  position:absolute;
  display:none;
  line-height:0
}
#pages li li .tick {
  display:block;
  width:5px;
  top:16px;
  left:-10px;
  border-bottom:1px solid #ccc
}
#pages .pagesBuffer {
  display:block;
  padding:8px 0 9px 0;
  width:100%;
  line-height:14px;
  cursor:pointer
}
#pages .pagesBuffer div {
  padding-left:8px
}
#pages .pagesDragHandle,
#pages li.highlightbox-active ul .pagesDragHandle {
  background:transparent url(/images/old/drag-handle-gray.png) no-repeat 2px 1px;
  height:15px;
  width:5px;
  float:left;
  padding-left:10px !important;
  cursor:move
}
#pages li.highlightbox-active .pagesDragHandle {
  background:transparent url(/images/old/drag-handle-blue.png) no-repeat 2px 1px
}
#pages .iconContainer {
  position:absolute;
  top:0px;
  right:0px
}
#pages .homeIcon {
  background:transparent url(/images/old/page-home.png) no-repeat top left;
  height:16px;
  width:16px;
  float:right;
  display:none
}
#pages .lockIcon {
  background:transparent url(/images/old/page-locked.png) no-repeat top left;
  height:14px;
  width:12px;
  float:right;
  display:none
}
#pages .pagesBuffer,
#pages li.highlightbox-active li .pagesBuffer {
  background:transparent url(/images/old/inactive_page_x.gif) repeat-x 0 50%;
  color:#333;
  border-top:1px solid #dbdbdb;
  border-bottom:1px solid #949494
}
#pages li.highlightbox-active .pagesBuffer {
  background:transparent url(/images/old/active_page_x.gif) repeat-x 0 50%;
  color:#fff;
  border-top:1px solid #78c5f9;
  border-bottom:1px solid #2b7cb3
}
#pages li ul {
  padding:0 0 0 10px;
  margin:0 0 0 10px;
  border-left:1px solid #ccc
}
#pageSettings {
  padding-left:25px;
  margin-top:10px;
  float:left;
  min-height:250px;
  height:auto !important;
  height:250px;
  font-size:12px
}
#pagesFrameFooter {
  margin-top:0px;
  border-top:2px solid #948979;
  clear:both
}
#savePageSettings {
  width:300px;
  float:right;
  margin-top:20px
}
#graytop {
  background:transparent url(/images/old/graybox_top.gif) no-repeat center top;
  width:749px;
  height:5px;
  overflow:hidden
}
#graymiddle {
  background:transparent url(/images/old/gray_background.gif) repeat-y center top;
  width:749px;
  float:left
}
#graybottom {
  clear:both;
  background:transparent url(/images/old/graybox_btm.gif) no-repeat center top;
  width:749px;
  height:5px;
  overflow:hidden
}
#pages li.overlimit .pagesBuffer {
  opacity:.5;
  filter:alpha(opacity=50)
}
#pageListArea .limit-notice {
  margin-left:14px;
  font-size:10px
}
.merchant-option {
  padding:19px 23px 23px 23px;
  border:1px solid transparent
}
.merchant-option:hover {
  border:1px solid #cdcdcd;
  background:#efefef
}
.slideshow-admin {
  font-family:'Lucida Grande', 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif;
  font-size:14px;
  background:#fff;
  text-align:left
}
.slideshow-admin-top h1 {
  font-size:30px;
  font-weight:bold;
  margin:0;
  padding:20px;
  color:#333
}
#slideshow-admin-content,
#slideshow-manager-content,
.slideshow-admin-content {
  border-top:1px solid #D5D5D5;
  background:url(/images/old/gray-vertical-gradient.jpg) repeat-x 0 1px;
  padding:25px 20px
}
.mac-key {
  display:inline-block;
  width:12px;
  height:12px;
  background:url(/images/old/slideshow/mac_key.gif) no-repeat
}
#slideshow-chooser {
  width:630px
}
#slideshow-choices {
  width:100%;
  border-collapse:collapse;
  border-spacing:0
}
#slideshow-chooser td {
  width:33%;
  padding:0 0 30px
}
#slideshow-chooser .slideshow-choice {
  padding-top:12px;
  height:180px;
  cursor:pointer
}
#slideshow-chooser .slideshow-choice-active {
  background:#BEDFFE;
  border-radius:5px
}
#slideshow-chooser .slideshow-choice-diagram {
  margin:0 auto;
  background-repeat:no-repeat;
  background-image:url(/images/old/slideshow/diagrams.gif);
  width:171px;
  height:149px
}
#slideshow-chooser .slideshow-choice-text {
  text-align:center;
  font-size:12px;
  height:32px;
  line-height:32px;
  font-weight:bold
}
#slideshow-thumbs-bottom .slideshow-choice-diagram {
  background-position:-171px 0
}
#slideshow-numbers-bottom .slideshow-choice-diagram {
  background-position:-342px 0
}
#slideshow-thumbs-top .slideshow-choice-diagram {
  background-position:-513px 0
}
#slideshow-thumbs-right .slideshow-choice-diagram {
  background-position:-684px 0
}
#slideshow-thumbs-double .slideshow-choice-diagram {
  background-position:-855px 0
}
#slideshow-chooser-notice {
  float:left;
  height:32px;
  line-height:32px;
  font-weight:bold
}
#slideshow-chooser-done {
  float:right
}
#slideshow-manager {
  width:900px
}
#slideshow-admin-content,
#slideshow-manager-content {
  min-height:300px;
  _height:300px
}
#slideshow-manager-buttons {
  position:relative;
  float:right;
  padding:22px 20px 0 0
}
#slideshow-manager-buttons a {
  position:relative;
  margin-left:10px
}
#slideshow-upload-content {
  text-align:center;
  padding:140px 0
}
#slideshow-upload-content p {
  font-size:13px;
  margin:1em 0 0
}
#slideshow-reorder-message {
  color:#333;
  font-weight:bold;
  font-size:12px;
  margin-bottom:1em
}
#slideshow-reorder-message p {
  margin:10px 10px 0 10px
}
.font-group-heading {
  background:url(/images/old/font_group_divider.gif) repeat-x 0 0;
  height:22px;
  line-height:22px;
  color:#fff;
  border-top:1px solid #B3B3B3;
  border-bottom:1px solid #B3B3B3;
  padding-left:8px;
  color:#333;
  font-weight:bold;
  text-shadow:#fff 0px 1px;
  margin:8px 0
}
.design-options-chooser {
  width:165px;
  height:92px;
  float:left;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #c1c1c1;
  color:#333333;
  padding:4px 0px;
  background:url(/images/old/design_options_background.jpg) repeat-x
}
.design-options-choice {
  width:153px;
  height:18px;
  font-weight:bold;
  font-size:11px;
  line-height:18px;
  padding-left:12px;
  margin:1px 0px;
  cursor:pointer
}
.design-options-choice-selected {
  background:url(/images/old/design-options-choice-selected.jpg) no-repeat top left
}
.design-options-editor {
  height:78px;
  background:#e8e8e8;
  border-left:1px solid #FFFFFF;
  margin-left:167px;
  padding-left:20px;
  padding-top:22px
}
.design-option {
  float:left;
  margin-right:20px
}
.design-option .weeblyDropDown div div div {
  font-size:16px
}
.design-option .weeblyDropDown div div div span {
  margin-left:3px;
  font-size:20px;
  color:#000
}
.design-option .weeblyDropDown div div div img {
  vertical-align:middle
}
.design-option .weeblyDropDown .dropdownButton {
  top:9px !important;
  right:3px !important
}
.design-option-reset {
  margin-top:25px
}
.design-option-reset a {
  font-size:11px
}
.design-option-color-outer {
  float:left;
  border:1px solid #9f9f9f;
  cursor:pointer
}
.design-option-color {
  float:left;
  width:30px;
  height:30px;
  border:1px solid #fff
}
#design-options-design-elements {
  position:absolute
}
.design-elements-item {
  position:relative;
  top:-15px
}
.design-elements-icon {
  clear:left;
  float:left;
  width:18px;
  height:18px;
  margin-top:6px;
  background-position:0 0
}
#design-elements-social .design-elements-icon {
  background-image:url(/images/old/design_elements_ui/little_f.png)
}
#design-elements-phone .design-elements-icon {
  background-image:url(/images/old/design_elements_ui/little_phone.png)
}
#design-elements-search .design-elements-icon {
  background-image:url(/images/old/design_elements_ui/little_magnifying_glass.png)
}
.design-elements-text {
  float:left;
  width:144px;
  height:30px;
  line-height:30px;
  font-weight:bold;
  padding-left:10px
}
.design-elements-text img {
  vertical-align:middle
}
.design-elements-switch {
  position:relative;
  float:left;
  width:71px;
  height:25px;
  margin-top:2px;
  overflow:hidden;
  cursor:pointer
}
.design-elements-switch-inner {
  position:absolute;
  top:0;
  left:-71px;
  width:142px;
  height:25px;
  background:url(/images/old/design_elements_ui/on_off.png) no-repeat 0 0
}
.design-elements-switch-on .design-elements-switch-inner {
  left:0
}
#purchaseClientSite {
  width:614px;
  font-family:"Lucida Grande", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif
}
#purchaseClientSiteTitle {
  height:63px;
  line-height:63px;
  font-size:30px;
  font-weight:bold;
  padding-left:20px;
  border-bottom:1px solid #d6d4d5
}
#purchaseClientSiteBody {
  background:url(/images/old/gray-vertical-gradient.jpg) repeat-x;
  padding:20px;
  border-top:1px solid #FFF
}
#purchaseClientSite p {
  color:#666;
  font-size:14px;
  line-height:20px
}
#previewAddress {
  font-size:20px;
  text-align:center;
  margin:40px 0px
}
#purchaseClientSite a:link,
#purchaseClientSite a:visited {
  text-decoration:none;
  color:#0066cc;
  font-weight:bold
}
#purchaseClientSite a:hover {
  text-decoration:underline
}
.client-domain-status {
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin:15px 0px
}
.publish-upgrade-notice-title {
  font-family:'Lucida Grande', 'Lucida Sans', 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif;
  font-size:16px;
  line-height:1.5;
  font-weight:bold
}
.publish-upgrade-notice-publish {
  float:right;
  margin-top:35px;
  margin-right:85px
}
.publish-upgrade-notice-publish a {
  font-size:14px;
  color:#0054CD;
  text-decoration:none;
  font-weight:bold
}
.publish-upgrade-notice-upgrade {
  width:159px;
  margin:25px auto
}
.publish-upgrade-notice-upgrade .label {
  display:none
}
.publish-share {
  padding:54px 0 20px 0
}
.publish-share-button {
  position:relative;
  display:inline-block;
  width:237px;
  height:46px;
  padding:0 0 0 55px;
  margin:0 36px 0 0;
  background-repeat:no-repeat;
  background-position:0 0;
  text-align:left;
  background-position:0 -50px
}
.publish-share-button-unshared:hover {
  background-position:0 -150px
}
.publish-share-button span {
  display:none;
  float:left;
  width:224px;
  height:46px;
  line-height:44px;
  background-position:100% 0;
  color:#fff;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:bold;
  padding-right:13px;
  text-align:center;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:pointer
}
.publish-share-button-unshared span.publish-share-unshared {
  display:block
}
.publish-share-button-shared span.publish-share-shared {
  display:block
}
.publish-share-button-sharing span.publish-share-sharing {
  display:block
}
.publish-share-button-unshared:hover span {
  background-position:100% -100px
}
.publish-share-facebook,
.publish-share-facebook span {
  background-image:url("/images/old/publish-window/facebook-button-alt.png")
}
.publish-share-button span {
  text-shadow:0 1px 1px #666
}
.publish-share-twitter {
  margin:0
}
.publish-share-twitter,
.publish-share-twitter span {
  background-image:url("/images/old/publish-window/twitter-button-alt.png")
}
.publish-share-twitter span {
  text-shadow:0 1px 1px #666
}
.publish-share-button-shared {
  background-position:0 -250px;
  cursor:default
}
.publish-share-button-shared span {
  background-position:100% -200px
}
.publish-share-button-sharing {
  background-position:0 -250px;
  cursor:default
}
.publish-share-button-sharing span {
  background-position:100% -200px
}
.publish-share-button-shared span img {
  margin:0 6px 0 0;
  vertical-align:text-bottom
}
.publish-share-message {
  position:absolute;
  font-family:"ProximaNova", "Open Sans", sans-serif;
  font-weight:bold;
  text-align:center;
  width:670px
}
.publish-share-message a {
  color:#06c
}
.publish-share-message-error {
  color:#cc0000;
  text-shadow:none
}
#publishing-status .titled-box-body {
  padding:28px
}
#publishing-status .register-domain-box {
  border-radius:10px
}
#pro-upgrade-modal .titled-box-title {
  padding-top:20px
}
#pro-upgrade-modal-body {
  font-size:1.2em;
  line-height:1.75em
}
#pro-upgrade-modal-footer {
  text-align:right
}
#publishing-status .titled-box-body {
  overflow:hidden;
  position:relative
}
#publishing-status .captcha-container {
  padding-top:20px
}
#publishing-status .captcha-title {
  font-size:20px;
  font-weight:bold
}
#publishing-status .warning {
  background:#FFCCCB;
  border:1px solid #E54844;
  border-radius:5px;
  padding:15px 100px;
  text-shadow:0px 0px 1px #FFF;
  font-size:16px;
  margin-bottom:50px
}
#publish-captcha {
  width:366px;
  height:131px;
  margin:15px auto;
  position:relative;
  color:#222;
  padding:14px 12px 0px;
  display:block;
  border-radius:10px;
  background:#DDD
}
#publish-captcha .recaptcha_buttons {
  float:right;
  width:25px;
  line-height:11px;
  margin-top:3px
}
#publish-captcha .recaptcha_lower {
  margin-top:9px
}
#publish-captcha .recaptcha_instructions {
  float:left;
  left:6px;
  position:relative
}
#publish-captcha .image-container {
  width:340px;
  height:60px;
  background:#FFF;
  display:block;
  position:relative;
  padding:1px 10px;
  border-radius:5px;
  left:4px
}
#theme-submission-preview {
  position:absolute;
  z-index:9999;
  left:0;
  width:100%
}
#theme-submission-preview-inner {
  height:49px;
  line-height:49px;
  background:#444;
  border-bottom:1px solid #000;
  text-align:center
}
#theme-submission-preview h2 {
  color:#fff;
  font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
  font-size:18px;
  display:inline;
  margin:0;
  padding:0 20px 0 10px
}
#theme-submission-preview button {
  font-size:18px;
  vertical-align:middle;
  cursor:pointer;
  height:36px;
  line-height:36px;
  padding:0 20px;
  border:1px solid;
  border-radius:4px;
  box-shadow:0px 2px 4px #000;
  color:#fff;
  position:relative;
  top:-2px
}
#theme-submission-preview button.ok {
  border-color:#D67203;
  background:#EA891D
}
#theme-submission-preview button.cancel {
  border-color:#6E6E6E;
  background:#838383
}
